{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Mission{% endblock %}

{% block body %}

 <!-- Forms Components Header -->
<div class="content-header">
    <div class="row">
            <div class="col-sm-6">
                                    <div class="header-section">
                                        <h1>Enregistrement de mission</h1>
                                    </div>
            </div>
             <div class="col-sm-6 hidden-xs">
                                    <div class="header-section">
                                        <ul class="breadcrumb breadcrumb-top">
                                            <li>Formulaire</li>
                                            <li>Missions</li>
                                            <li><a href="">Création</a></li>
                                        </ul>
                                    </div>
           </div>
    </div>
</div>
                        <!-- END Forms Components Header -->

<div class="row">
    <div class="col-xs-6">
                                    <div class="block"> 
                                        <!-- Flexible Grid Title -->
                                        <div class="block-title">
                                            <div class="block-options pull-right">
                                                <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default  enable-tooltip" data-toggle="button" title="Toggles .form-bordered class">Borderless</a>
                                            </div>
                                            <h2>Veuillez saisir les informations liées à la mission</h2>
                                        </div>
                                        <!-- END Flexible Grid Title -->

                                        <!-- Flexible Grid Content -->
                                            {{ form_start(form) }}
                                              <div class="row">
                                                <div class="col-xs-4">{{form_row( form.noteService,{attr:{'placeholder': 'M002/2021'}}, ) }}</div>
                                              </div> 
                                              <div class="row">
                                                <div class="col-xs-6">{{form_row(form.lieu,{attr:{'placeholder': 'Agence de Ouidah'}}) }} </div>
                                                <div class="col-xs-6">{{form_row( form.agent,{attr:{'placeholder': 'Désigner un agent'}}) }} </div>
                                              </div> 
                                              <div class="row">
                                                <div class="col-xs-6">{{form_row(form.typeMission) }} </div>
                                                <div class="col-xs-6">{{form_row(form.primeChef,{attr:{'placeholder': 'Ex: 35000'}}) }} </div>
                                              </div> 
                                              {{form_row(form.objet) }}              
                                              
                                              <div class"row">
                                                <div class="col-xs-5">{{ form_row(form.dateDepart) }}</div>
                                                <div class="col-xs-5">{{ form_row(form.dateRetour) }}</div>
                                                <div class="col-xs-2">{{form_row(form.nbjrs) }}</div>
                                              </div> 
                                              
                                              <div class="row">
                                               
                                               <div class="col-xs-6">{{form_row(form.moyen) }} </div>
                                               <div class="col-xs-6">
                                                    <label>Affectation de chauffeur</label><br>
                                                    <a href="#modal-add-contact" class="btn btn-sm btn-warning" data-toggle="modal"><i class="fa fa-plus"></i></a> </div>
                                              

                                              </div> 
                                              
                                              
                                             <button type="submit" class="btn btn-success">Enregistrer la mission</button> 
                                            {{ form_end(form) }}
                                        <!-- END Flexible Grid Content -->
                                    </div>

        
                              
    </div>
    <div class="col-xs-6">
        <!-- Datatables Block -->
                        <!-- Datatables is initialized in js/pages/uiTables.js -->
                        <div class="block full">
                            <div class="block-title">
                                <h2>Point des missions</h2>
                                
                            </div>


                            <div class="table-responsive">
                                <table id="example-datatable" class="table table-striped table-bordered table-vcenter">
                                    <thead>
                                        <tr>
                                            <th>Mission </th>
                                            <th>Agent</th>
                                            <th style="width: 120px;">Lieu</th>
                                            <th style="width: 120px;">Durée</th>
                                            <th style="width: 120px;">Départ</th>
                                            <th class="text-center" style="width: 50px;"><i class="fa fa-flash"></i></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for mission in missions %}
                                        <tr>
                                           
                                            <td><strong>{{ mission.noteService}}</strong></td>
                                            <td>{{ mission.agent.nom}}</td>
                                            <td>{{ mission.lieu}}</td>
                                            <td>{{ mission.nbjrs}}</td>
                                            <td>{{ mission.dateDepart|date("d/m/Y")}}</td>
                                            <td class="text-center">
                                                <a href="javascript:void(0)" data-toggle="tooltip" title="Consulter/Editer" class="btn btn-effect-ripple btn-xs btn-success"><i class="fa fa-pencil"></i></a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
         <!-- END Datatables Block -->
    </div>

    <!-- Add Contact Modal -->
        <div id="modal-add-contact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h3 class="modal-title"><i class="fa fa-edit"></i> <strong>Traitement de la mission</strong></h3>
                    </div>
                    <div class="modal-body">
                        <form action="page_ready_contacts.html" method="post" class="form-horizontal form-bordered" onsubmit="return false;">
                            
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="add-contact-name">Chauffeur</label>
                                <div class="col-xs-9">
                                    <input type="text" id="add-contact-name" name="add-contact-name" class="form-control" placeholder="Enter Full Name..">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="add-contact-email">Voiture</label>
                                <div class="col-xs-9">
                                    <input type="email" id="add-contact-email" name="add-contact-email" class="form-control" placeholder="Choisissez le véhicule">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="add-contact-phone">Date départ</label>
                                <div class="col-xs-9">
                                    <input type="date" id="add-contact-phone" name="add-contact-phone" class="form-control" placeholder="(000) 000-0000">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-xs-3 control-label" for="add-contact-mobile">Date retour</label>
                                <div class="col-xs-9">
                                    <input type="date" id="add-contact-mobile" name="add-contact-mobile" class="form-control" placeholder="Enter Mobile Number..">
                                </div>
                            </div>
                            
                            <
                            <div class="form-group form-actions">
                                <div class="col-xs-12 text-right">
                                    <button type="submit" class="btn btn-effect-ripple btn-success">Programmer</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- END Add Contact Modal -->
</div
{% endblock %}

{% block javascripts %}
    <!-- Load and execute javascript code used only in this page -->
        <script src="{{asset('js/pages/uiTables.js')}}"></script>
        <script>$(function(){ UiTables.init(); });</script>

        <script>
            $(document).ready(function() {
                // you may need to change this code if you are not using Bootstrap Datepicker
                $('.js-datepicker').datepicker({
                    format: 'dd-mm-yyyy'
                });
            });
        </script>
{% endblock %}